body {
    margin: 1;
    font-family: Tahoma, sans-serif;
}
table.dataframe {
    border-collapse: collapse;
    border: none;
}
table.dataframe tr {
    border: none;
}
table.dataframe td, table.dataframe th {
    margin: 0;
    border: 1px solid white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
table.dataframe th:not(:empty) {
    background-color: #fec;
    text-align: left;
    font-weight: normal;
}
table.dataframe tr:nth-child(2) th:empty {
    border-left: none;
    border-right: 1px dashed #888;
}
table.dataframe td {
    border: 2px solid #ccf;
    background-color: #f4f4ff;
}
table.dataframe tr:nth-child(even) td {
    background-color: #d0d0ff; /* increased contrast for light mode */
}
.button {
    background-color: #2275e1; /* Green */
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 18px;
    float: left;
    border: 1px solid white;
}
.button:active {
    background-color: #6187d7;
    transform: translateY(1px);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }
    table.dataframe {
        background-color: #1e1e1e;
    }
    table.dataframe th:not(:empty) {
        background-color: #333;
        color: #e0e0e0;
    }
    table.dataframe td {
        background-color: #2e2e2e;
        color: #e0e0e0;
        border-color: #444;
    }
    table.dataframe tr:nth-child(even) td {
        background-color: #424242; /* increased contrast for dark mode */
    }
    .button {
        background-color: #00aeff;
        color: white;
        border: 1px solid #000fe6;
    }
    .button:active {
        background-color: #351c3c;
        transform: translateY(1px);
    }
}